* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('/static/assets/cursor.png'), auto; /* Auto as fallback */
    height: 100vh;
    padding: 10px;
}

/* Variables */
:root {
    --border: #04192A;
    --border-inner: #051f35;
    --border-inner-hover: #092D4B;

    --drop-down-gradient: linear-gradient(180deg, #0B324E 0%, #144870 100%);
    --highlight-gradient: linear-gradient(180deg, #A49471 0%, #1F1A11 100%);

    /* Text input */
    --text-input-border: #13314B;

    --input-border-radius: 6px;
    --input-inner-border-radius: 4px;

    /* Tab buttons */
    --tab-button-inner-border: #1B160F;
}

.w-100 {
    width: 100%;
}

/* Text input */
.civ-input {
    border-radius: 4px;
    border: 1px solid var(--border-inner);
    background: linear-gradient(180deg, #062640 0%, #0A3558 100%);
    color: white;
    text-align: center;

    width: 100%;

    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.civ-input-wrapper {
    display: flex;
    border-radius: var(--input-border-radius);
    border: 2px solid var(--border);
    background: linear-gradient(180deg, #0B324E 0%, #062640 15%, #0A3558 85%, #154A72 100%);
    padding: 3px;
}

.civ-input-wrapper:hover {
    background: linear-gradient(180deg, #0E5284 0%, #138AA7 100%) !important;

    .civ-input {
        background: linear-gradient(180deg, #0A3457 0%, #0B4471 100%) !important;
        border-color: var(--border-inner-hover)
    }
}


input:focus {
    outline: none;
}

input:hover {
    cursor: unset;
}

.civ-select {
    display: flex;
    position: relative;
    width: 200px;
    justify-content: center;
}

.civ-select-input {
    width: 100%;
    display: flex;
    gap: 7px;
}

.civ-select-value {
    border-radius: var(--input-border-radius) 0px 0px var(--input-border-radius);
    flex-grow: 1;
}

.civ-select-value > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.civ-select-value::after {
    content: '';
    display: block;
    width: 1px;
    background-color: var(--border); /* Adjust the color as needed */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
}

.civ-select-arrow {
    width: 20px;
    border-radius: 0px var(--input-border-radius) var(--input-border-radius) 0px;
    display: flex;
}

.civ-select-arrow::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid #F0DDAD;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    left: 1px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.civ-select-options-wrapper {
    /* display: none; */
    position: absolute;
    top: 100%;
    margin-top: 2px;
    padding: 2px;
    width: 100%;
    border: 2px solid #322614;
    background: linear-gradient(180deg, #745D3F 0%, #4C3C26 100%);
}

.civ-select-options {
    background-color: var(--border);
    border: 1px solid #0C161E;
    border-radius: var(--input-border-radius);
}

body {
    background-color: #103353;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#output:hover {
    color: blue;
}

.civ-tab-button-frame {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(180deg, #F1D69C 0%, #715D3C 100%);
    border-radius: 2px;
    outline: 1px solid #262015;
    background-color: #413622;  
    box-shadow: 0px 0px 3px 0px #000000;
}

.civ-tab-button-wrapper {
    background: linear-gradient(180deg, #F1D69C 0%, #715D3C 100%);
    border-radius: 14px;
    padding: 2px 3px;
}

.civ-tab-button {
    width: 200px;
    border: 1px solid #00233D;
    outline: 1px solid #262015;
    background: linear-gradient(180deg, #00426D 0%, #00619F 20%, #002D54 50%, #002D54 80%, #1979B2 100%);
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px;
    border-radius: 14px;
    cursor: unset;
    transition: filter 0.7s ease-out;
}

.civ-tab-button-frame:hover .civ-tab-button {
    filter: brightness(1.5);
    transition: filter 0.1s ease-in;
}