/* Colour Palette */
:root {
  --background: #193551;
  --background-dark: #274770;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
